<div id="tab-content-details" class="usage-view hidden" data-usage-panel="details" role="tabpanel" aria-labelledby="usage-subtab-details">
    <div class="table-container details-table-wrap">
        <table class="data-table detail-table">
            <colgroup>
                <col class="col-index">
                <col class="col-time">
                <col class="col-user">
                <col class="col-name">
                <col class="col-model">
                <col class="col-role">
                <col class="col-token">
                <col class="col-token">
                <col class="col-total">
            </colgroup>
            <thead>
                <tr>
                    <th class="text-center">序号</th>
                    <th>时间</th>
                    <th>用户名</th>
                    <th>显示名</th>
                    <th>模型</th>
                    <th class="text-center">角色</th>
                    <th class="text-center">输入 Token</th>
                    <th class="text-center">输出 Token</th>
                    <th class="text-center">总 Token</th>
                </tr>
            </thead>
            <tbody id="details-list-body"></tbody>
        </table>
    </div>
    <div id="pagination-details" class="pagination"></div>
</div>
